* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
 align-items: center;
  padding: 0 2%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

header {
  background-color: whitesmoke;
}

.logo img {
  width: 90px;
  height: 80px;
  object-fit: contain;
}

.menu a {
  color: black;
}

.menu-container {
  width: 100%
  
}

.menu-container a.active-menu {
  color: black;
  background-color: #c5f7f0;
}

.menu-container a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  padding: 8px 15px;
  transition: 0.8s;
}

.menu-container a:hover {
  color: #66b3a7;
}
.logo{
  
}
.main {
  min-height: 900px;
  background-image: url(imagem/samoieda-4.webp);
  background-size: cover;
  background-position: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

.menu-container li {
  position: relative;
}

.menu-container > li:hover {
  background: gray;
}

.menu-container li:hover > .sub-menu {
  display: flex;
}

/* Estilos para o sub-menu */
.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
}

.sub-menu li {
  display: block;
  width: 100%;
  text-align: left;
}

.sub-menu li a {
  display: block;
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
}

/* Estilos para o link principal do menu */
.menu li:hover .sub-menu {
  display: block;
}

.menu li:hover a {
  background-color: whitesmoke;
}

li {
  display: inline;
  width: 120px;
}

#log {
  width: 250px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  color: #000000;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 60px;
}

.container{
  display: inline-flex;
}